[Desktop Entry]
Version=1.0
Actions=QNapiScan;
Name=Scan directory and download subtitles
GenericName=Scan directory and download subtitles
Icon=qnapi-48
ServiceTypes=inode/directory
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Type=Service

[Desktop Action QNapiScan]
Name=Scan directory and download subtitles
Exec=qnapi %U
Icon=qnapi-48
