[Desktop Entry]
Exec=qnapi
Name=QNapi
Icon=qnapi-48
Type=Application
Categories=AudioVideo;
Comment=Program do pobierania napisów do filmów
GenericName=Program do pobierania napisów do filmów
Terminal=false
X-KDE-StartupNotify=false
