[Desktop Entry]
Version=1.0
Actions=QNapiScan;
Name=Scan directory and download subtitles
GenericName=Scan directory and download subtitles
Name[it_IT]=Scansiona cartella e scarica sottotitoli
GenericName[it_IT]=Scansiona cartella e scarica sottotitoli
Name[pl_PL]=Przeskanuj katalog i pobierz napisy
GenericName[pl_PL]=Przeskanuj katalogu i pobierz napisy
Name[sl_SI]=Poišči datoteke v mapi in prenesi podnapise
GenericName[sl_SI]=Poišči datoteke v mapi in prenesi podnapise
Icon=qnapi-48
ServiceTypes=inode/directory
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Type=Service

[Desktop Action QNapiScan]
Name=Scan directory and download subtitles
Name[it_IT]=Scansiona cartella e scarica sottotitoli
Name[pl_PL]=Przeskanuj katalog i pobierz napisy
Name[sl_SI]=Poišči datoteke v mapi in prenesi podnapise
Exec=qnapi %U
Icon=qnapi-48
