[Desktop Entry]
Exec=qnapi
Name=QNapi
Icon=/usr/share/icons/qnapi-48.png
Type=Application
Categories=Application;Multimedia;AudioVideo;Utility;Qt;
Comment=Program do pobierania napisów do filmów
GenericName=Program do pobierania napisów do filmów
Encoding=UTF-8
Terminal=false
