[Desktop Entry]
Exec=qnapi %U
Name=QNapi
Icon=qnapi
Type=Application
Categories=AudioVideo;
Comment=Program for downloading video subtitles
GenericName=Program for downloading video subtitles
Terminal=false
X-KDE-StartupNotify=false
